xcuserdata/
xcshareddata/

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

Package.pins
Package.resolved
*.xcodeproj

.swiftpm

.build/

*.xcworkspace

DerivedData/
.DS_Store

Assets.xcassets/
AIService.swift